.page {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #213B7E;
}

.container {
    max-width: 1202px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header start */

.header {
    margin-bottom: 33px;
}

.header__wrap {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    min-height: 80px;
    padding: 0 16px;
}

.logo__link {
    margin: 0;
    width: 47px;
}

.menu__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 80px;
    align-items: center;
}

.menu__link {
    padding: 0 18px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    min-height: 80px;
    display: flex;
    align-items: center;
}

.menu__link:hover, .menu__link:focus {
    color: #213B7E;
    background-color: #fff;
    text-decoration: none;
}

.menu__link:active {
    color: #213B7E;
    background-color: #fff;
    text-decoration: none;
}

.header__btn__nav {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    width: 153px;
    height: 50px;
    background-color: #EA5D21;
    border: none;
    padding: 0;
    justify-self: flex-end;
    cursor: pointer;
    display: none;
}

.header__btn {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    width: 153px;
    height: 50px;
    background-color: #EA5D21;
    border: none;
    padding: 0;
    justify-self: flex-end;
    cursor: pointer;
}

.header__btn:hover, .header__btn:focus {
    background-color: #fff;
    color: #EA5D21;
}

.header__btn:active {
    background-color: #fff;
    color: #EA5D21;
}

.burger {
    display: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    position: relative;
}

.burger__span {
    position: absolute;
    top: 8px;
    left: 5px;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 1px;
}

.burger__span:nth-child(2) {
    transform: translateY(10px);
}

.burger__span:nth-child(3) {
    transform: translateY(20px);
}

/* header end */

/* main start */

.main {
    flex: 1 0 auto;
}

.main__title {
    margin-bottom: 24px;
}

.student {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
}

.student__wrap {
    width: 200px;
    text-align: center;
}

.student__wrap:last-child {
    margin-bottom: 40px;
}

.relative {
    position: relative;
}

.student__div {
    width: 200px;
    height: 270px;
    cursor: pointer;
}

.student__link {
    text-decoration: none;
}

.student__link:hover {
    opacity: 0.8;
}

.name {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin: 8px 0 0;
    padding: 0;
    cursor: pointer;
}

.new {
    display: inline-block;
    background-color: #3AA828;
    border-radius: 20px;
    padding: 3px 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFF;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -10px;
    margin-right: -13px;
}

/* main end */

/* footer start */

.footer {
    flex: 0 0 auto;
}

.footer__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
}

.footer__text {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
}

.footer__link {
    margin: 0 0 0 2px;
    padding: 0 5px;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
    display: flex;
    align-items: center;
    min-height: 60px;
}

.footer__link:hover, .footer__link:focus {
    color: #213B7E;
    background-color: #fff;
    text-decoration: none;
}

/* footer end  */

@media (max-width: 1126px) {
    .student {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
}

@media (max-width: 800px) {
    .header__wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .burger {
        display: block;
        z-index: 4;
    }

    .open__span {
        background-color: #000;
    }

    .nav__menu {
        position: fixed;
        top: 0;
        right: 0;
        background-color: #fff;
        height: 100%;
        width: 60%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-shadow: -20px 0px 26px -13px rgba(34, 60, 80, 0.5);
        z-index: 3;
    }

    .open {
        display: flex;
    }

    .menu__list { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 393px;
    }

    .menu__link {
        color: #000;
        font-size: 30px;
        min-height: 118px;
    }

    .header__btn {
        display: none;
    }

    .header__btn__nav {
        display: block;
        margin-bottom: 122px;
        transform: scale(1.5);
    }
}  

@media (max-width: 500px) {
    .modal__form {
        width: 350px;
        margin: 0 auto;
    }

    .modal__input {
        max-width: 300px;
    }

    .header__btn__nav {
        transform: scale(1);
    }
}

@media (max-width: 422px) {
    .header__btn__nav {
        width: 120px;
        height: 40px;
    }
}

@media (max-width: 350px) {
    .modal__form {
        width: 300px;
        margin: 0 auto;
    }

    .modal__input {
        max-width: 250px;
    }
}

@media (max-width: 330px) {
    .header__btn__nav {
        width: 100px;
        height: 30px;
        font-size: 16px;
    }

    .modal__form {
        width: 280px;
        margin: 0 auto;
    }

    .modal__input {
        max-width: 230px;
    }
}